@charset "utf-8";
/* CSS Document */

body {
	margin: 0 auto;
	background:url(../image/dark-wood-texture.jpg);
	background-color: #000000;
	
}

.header {
	width: 100%;
	height: 70px;
	background-color: #4b6b26;
	
}

.nav{
	margin: auto;
	float: right;
	padding-top: 25px;
}

a:link, a:visited {
    display: block;
    width: 100px;
    font-weight: bold;
    color: #d4bf45;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    /*text-transform: uppercase;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
	padding-right: 30px;
	text-decoration: none;
    /*text-transform: uppercase;*/
}

.logo {
	margin-right: 0;
	margin-left: 50px;
	padding-top: 10px;
	
}

.imagebox {
	width: 100%;
	height: 320px;
	/*background-color: black;
	background:url(../image/baredit.jpg);*/
	background-size:cover;
	color: #FDFCFC;
	
}

.centerspace {
	width: 900px;
	height: 900px;
	background-color: #8e946b;
	margin-left: 200px;
	
}

.menuA {
	width:871px;
	height:800px;
	margin-left: 15px;
	margin-top: 0px;
	background-color: #254907;
	display:none;
	padding-top:55px;
	border-top: 45px solid #8e946b;
	
}


.menuB {
	width:871px;
	height:800px;
	margin-left: 15px;
	margin-top: 0px;
	background-color: red;
	display: none;
	padding-top:55px;
	border-top: 45px solid #8e946b;
}


.active {
	display:block;
}


.tabA {
	width: 434px;
	height: 55px;
	border: 1px solid red;
	margin-left: 15px;
	float: left;
	margin-top:44px;
}

.tabB {
	width: 434px;
	height: 55px;
	border: 1px solid red;
	float: left;
	margin-top:44px;
}

.menusection {
	width: 870px;
	height: 70px;
	border: 1px solid red;
	margin: 0px;
	padding-top: 0px; 
}

.centerbody2 {
	width:434px;
	height:530px;
	margin: 0px;
	background-color: #254907;
	float:left;
	border: 1px solid red;
	
}

.footer {
	Width: 100%;
	height: 25px;
	background:url(../image/brick_texture3328.jpg);
	background-size: 675px;
	background-color: #000000;
	margin-top: 0 auto;
	opacity: 0.4;
	-webkit-filter: saturate(0.6);
  	filter: saturate(0.6);
	color:#FFFFFF;
	text-align:center;
	padding-top: 20px;
	
}

